@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&family=Signika+Negative:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    height: 75px;
    background-color: rgb(14, 7, 21);
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif,'Poppins', sans-serif;
}

nav ul{
    padding: 0 12px;
    font-size: 24px;
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(235, 231, 240);
    cursor: pointer;
}

.info{
    font-size: 20px;
}

.gameInfo{
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 25px;
    padding: 4px 8px;
    background-color: rgb(245, 234, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.line{
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(108 109 115);
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 40px;
    }
    .gameInfo h1{
        font-size: 2rem
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}